.custom-navbar {
	/*margin-bottom: 24px;*/
}

.input-field
.prefix.active {
	color: 	#0D47A1 !important;
}

input:focus {
	border-bottom: 1px solid #0D47A1 !important;
	box-shadow: 0 1px 0 0 #0D47A1 !important;
}

nav {
	/*box-shadow: none;*/
}

.wrapper {
	width: 100%;
	height: 250px;
	margin-top: -230px;
}

.main-title {
	text-align: center;
	font-weight: 300;
	color: #fff;
}

.custom-left {
	/*position: fixed;*/
	width: 400px;
}

.custom-right {
	
}

.card-active {
	border-left: 4px solid #0D47A1;
}

.custom-table th, td {
	text-align: center;
	/*margin: 0px 48px 24px 48px;*/
}

.add-button {
	background-color: #0D47A1;
	margin-bottom: 24px;
}

.add-button:hover {
	background-color: #0D47A1 !important;
}

.login-bg {
	width: 400px;
	height: 500px;
	margin-top: 100px;
	-webkit-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.3);
	box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.3);
}

.user-img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}


.hero {
	width: 100%;
	height: 300px;
	background-image: linear-gradient(0deg, rgba(0 ,0,0,0.5),rgba(0,0,0,0.5)), url("../img/pexels-photo-356054.jpeg");
	background-size: cover;
}

.hero-input:focus {
	color: #fff !important;
	border-bottom: 1px solid #fff !important;
    box-shadow: 0 1px 0 0#fff !important;
}

.input-field .prefix.active {
     color: #fff !important; 
}

.custom-white {
	color: #fff;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #fff;
}